* {
  padding: 0;
  margin: 0;
}
.clearfix {
  overflow: auto;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #595d66;
  font-size: 18px;
  line-height: 27px;
}
a {
  color: #d3306f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  width: 1047px;
  margin: auto;
}
.btn {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 34px;
  display: inline-block;
  color: #ffffff;
  background-color: #d3306f;
  text-decoration: none;
  padding: 0 19px;
  border-radius: 3px;
  text-transform: uppercase;
  transition: transform 0.1s ease;
}
.btn:hover {
  transform: scale(1.02);
  box-shadow: 1px 2px rgba(0,0,0,0.4)
}
.btn_big {
  font-size: 16px;
  line-height: 55px;
  padding: 0 49px;
}
header {
  position: relative;
}
header a:hover {
  text-decoration: none !important;
}
nav {
  height: 120px;
  text-align: right;
  position: relative;
  padding-top: 42px;
  box-sizing: border-box;
}
nav a {
  display: inline-block;
  margin-left: 26px;
  font-weight: 500;
  text-transform: uppercase;
  color: #918e99;
  text-decoration: none;
  font-size: 14px;
}
#logo {
  position: absolute;
  left: 0;
  top: 31px;
  width: 147px;
  height: 60px;
  margin: 0px;
  background: url(img/logo.svg) 0 0 no-repeat;
  background-size: cover;
  text-indent: 9999px;
  overflow: hidden;
}
header > section {
  height: 380px;
  background: url(img/header-bg-grid.png) center 53px,
              url(img/header-bg-center.jpg) center no-repeat,
                url(img/header-bg-color.png);
  text-align: center;
  color: #ffffff;
}
h1{
  font-size: 42px;
  font-weight: 300;
  width: 640px;
  margin: 87px auto 0;
  display: inline-block;
  text-transform: uppercase;
}
h2 {
 font-size: 28px;
 font-weight: 300;
 margin-bottom: 47px;
 margin-top: 10px;
}
#lnk_fork {
  color: rgba(255,255,255,0.5);
  text-transform: none;
  text-decoration: underline;
}
#lnk_fork:before {
  margin-top: 20px;
  content: "";
  white-space: pre;
  display: block;
}

main > section {
  position: relative;
  padding-top: 34px;
  margin-top: 20px !important;
  padding-bottom: 34px;
  padding-left: 50px;
  box-sizing: border-box;
}
.helmet {
  width: 223px;
  height: 333px;
  position: absolute;
  right: 98px;
  top: -18px;
}
main:first-of-type > section:first-of-type {
  padding-bottom: 122px;
  margin-top: 60px !important;
}
h3 {
  color: #47434a;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 31px;
}
section h3:after {
  content: '';
  position: absolute;
  left: 0;
  top: 36px;
  width: 4px;
  height: 21px;
  background-color: #d9517d;
}
pre {
  margin: 20px 0;
  width: 640px;
  font-size: 14px;
}
code.hljs {
  padding: 0.7em 0.7em 1em;
}
code.python {
  padding: 1.7em 1.7em 2em;
}

example {
  display: block;
}
main.odd {
  background-color: #FE1B7A;
  color: #ffffff;
}
main.odd h3 {
  color: #ffffff;
}
main.odd h3:after {
  background-color: #ffffff;
}
iframe {
  float: right;
}

footer {
  background-color: #eeeeee;
}
pre {
  line-height: initial;
}
.hljs-title, .hljs-id, .scss .hljs-preprocessor,
.hljs-string, .hljs-tag .hljs-value, .hljs-doctag, .tex .hljs-formula {
  color: #D9517D;
}
.hljs-class .hljs-title, .hljs-type, .vhdl .hljs-literal, .tex .hljs-command {
  color: #7864B3;
}

a.btn.btn_big {
}

.columns {
  background: #f4f4f4;
}
column {
  float: left;
  height: 120px;
  width: calc(91%/3);
  margin-right: 46px;
  padding: 30px 0;
}
column:last-child {
  margin-right: 0;
}
.columns section{
  padding-left: 0;
}

.columns h3:after {
  display: none;
}

.columns h3 {
  font-size: 21px;
  margin-bottom: 10px;
}
