* {
  padding: 0;
  margin: 0;
}
.clearfix {
  overflow: auto;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #595d66;
  font-size: 18px;
}
a {
  color: #d3306f;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  width: 1047px;
  margin: auto;
}
.btn {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 34px;
  display: inline-block;
  color: #ffffff;
  background-color: #d3306f;
  text-decoration: none;
  padding: 0 19px;
  border-radius: 3px;
  text-transform: uppercase;
  transition: transform 0.1s ease;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 1px 2px rgba(0,0,0,0.4)
}
.btn_big {
  font-size: 16px;
  line-height: 55px;
  padding: 0 49px;
}
header {
  position: relative;
}
header a:hover {
  text-decoration: none !important;
}
nav {
  height: 120px;
  text-align: right;
  position: relative;
  padding-top: 42px;
  box-sizing: border-box;
}
nav a {
  display: inline-block;
  margin-left: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #918e99;
  text-decoration: none;
}
#logo {
  position: absolute;
  left: 0;
  margin: 0;
}
header > section {
  height: 380px;
  background: url(img/header-bg-grid.png) center 53px,
              url(img/header-bg-center.jpg) center no-repeat,
                url(img/header-bg-color.png);
  text-align: center;
  color: #ffffff;
}
h1{
  font-size: 42px;
  font-weight: 300;
  width: 640px;
  margin: 78px auto 0;
  display: inline-block;
  text-transform: uppercase;
}
h2 {
 font-size: 28px;
 font-weight: 300;
 margin-bottom: 47px;
}
#lnk_fork {
  color: rgba(255,255,255,0.5);
  text-transform: none;
  text-decoration: underline;
}
#lnk_fork:before {
  margin-top: 20px;
  content: "";
  white-space: pre;
  display: block;
}
body > section {
  margin-bottom: 74px !important;
  position: relative;
}
body > section:first-of-type:before {
  content: '';
  background: url(img/helmet.jpg) no-repeat;
  width: 223px;
  height: 333px;
  position: absolute;
  right: 98px;
  top: 12px;
}
h3 {
  color: #47434a;
  text-transform: uppercase;
  font-size: 30px;
  position: relative;
  font-weight: 500;
  margin-bottom: 31px;
  margin-top: 40px !important;
  padding-top: 34px !important;
}
section h3:after {
  content: '';
  position: absolute;
  left: 0;
  top: 41px;
  width: 4px;
  height: 21px;
  background-color: #d9517d;
}
section.container > *,
section > .container > * {
  padding-left: 50px;
}
pre {
  margin: 20px 0;
  width: 640px;
  font-size: 14px;
}
code.hljs {
  padding: 0.7em 0.7em 1em;
}

example {
  display: block;
}
section.odd {
  background-color: #d9517d;
  color: #ffffff;
  padding-bottom: 34px;
}
section.odd h3 {
  color: #ffffff;
}
section.odd h3:after {
  background-color: #ffffff;
}
iframe {
  float: right;
}

footer {
  background-color: #eeeeee;
}

